.Bubblemain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}
.Bubbledes{
    width: 40vw;
}
.Bubbleinfo{
    text-align: left;
    font-size: 1.2rem;
}
.bubbleInput{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.bubbleInput input{
    width: 80%;
    height: 2rem;
}
.sortArray{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: baseline;
}
.unitBlock{
    background-color: aqua;
    width: 30px;
    height: 5px;
    box-sizing: border-box;
}
.unitBlockA{
    background-color:red;
        width: 50px;
        height: 5px;
        box-sizing: border-box;
}
.colum{
    border: 1px solid black;
    box-sizing: border-box;
    transform: rotate(180deg);
}