.options{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.option{
    height: 15vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border : 5px solid blue;
    margin: 5px 0;
}
.link{
    text-decoration: none;
    color:black;
    font-size:30px;
}
h1{
    font-size: 60px;
    color: #F7A76C;
    font-family: 'Gemunu Libre', sans-serif;
}