.queueMain{
    display: flex;
    justify-content: space-around;
}
.queue{
    display: flex;
}
.QueueBlock{
    width: 100px;
    height: 100px;
    background-color: #B5FE83;
    border: 5px solid #FFFF00;
    display: flex;
    justify-content: center;
    align-items: center;
}
.QueueBlock p{
    color: #ffffff;
}
.input{
    width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
}
.invisibleArr{
    display: flex;
}
.invBlock{
    width:100px;
    height:100px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #FFFFff;
    flex-direction: column;
}
.arrOr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputQueue{
    padding: 0 5rem;
}
.Qop{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #FF9F29;
    /* border-top: none;
    border-bottom: none; */
}
.inputQueue h3{
    text-align: left;
}
.pushQueue{
    height:30px;
    display: flex;
    justify-content: space-around;
    width: 30vw;
}
.pushQueue input{
    width: 20vw;
}
.popQueue{
    height: 50px;
        display: flex;
        justify-content: space-around;
        width: 30vw;
        align-items: center;
        border-right: 5px solid #FF9F29;
        border-left: 5px solid #FF9F29;
}
.popQueue button{
    height: 30px;
}
.qBtn{
    align-items: center;
        appearance: none;
        background-color: #fff;
        border-radius: 24px;
        border: 2px solid #47B5FF;
        color: #3c4043;
        width: 100px;
        font-size: 1.1rem;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
}
.qBtn:hover {
    background: #F6F9FE;
    color: #174ea6;
    border: 2px solid #FF9F29;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}
.peekQueue{
    height: 30px;
        display: flex;
        justify-content: space-around;
        width: 10vw;
}

/*< !-- HTML !--><button class="button-17" role="button">Button 17</button>

*/
/* .button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
} */